server:
  port: 8080
spring:
  datasource:
    url: jdbc:h2:mem:ecommerce;DB_CLOSE_DELAY=-1
    driverClassName: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
  h2:
    console:
      enabled: true
      path: /h2-console
springdoc:
  swagger-ui:
    path: /swagger-ui.html
app:
  jwt:
    secret: 1234567890123456789012345678901234567890
